BANGUMI_MOE_API_BASE=https://bangumi.moe
BANGUMI_MOE_SEARCH_PATH=/api/v2/torrent/search
ACG_RIP_API_BASE=https://acg.rip
ACG_RIP_SEARCH_PATH=/.xml
DMHY_API_BASE=https://share.dmhy.org
DMHY_SEARCH_PATH=/topics/rss/rss.xml
NYAA_API_BASE=https://nyaa.si
NYAA_SEARCH_PATH=/
NYAA_CATEGORY=0_0
